*.pidb
*.userprefs
*.userprefs.meta
/*.pidb
*pidb.meta
/*.suo
/*.userprefs
/*.userprefs.meta
/*.swp
/*.dll
/*.exe
/*.mdb
/*\~
/.DS_Store
.DS_Store
*.mdw
builds/
.idea/*
.gradle/
.vs/*

/*.sln
UnityVS*

Assets/Libs/3rdParty/Unity/AssetBundleManager/Resources/*
/BuiltAssetBundles/
/Pre-Bundles/
/BulkDownload/
/Assets/PrimeAssetsScratch.meta
/Assets/PrimeAssetsScratch/
/Assets/PrimeAssetsScratch/*
/Assets/StreamingAssets/Pre-Bundles.meta
/Assets/StreamingAssets/Pre-Bundles/
/Assets/StreamingAssets/Pre-Bundles/*
Pre-Bundles/
Pre-Bundles/*

Library/
/Library
Temp/
obj/

*.unityproj
Assembly-CSharp*.csproj
Unity.*.csproj
Bugsnag*.csproj
Scopely*.csproj

*.orig
*.orig.meta
*.swatch

/.vscode/

.vscode/*
.vscode/launch.json
Assets/Flux/Editor/FluxEditor.dll.meta
Assets/Flux/Flux.dll.meta
Assets/Prime/TEMPAssets/WeaponVFX.meta
Assets/Prime/TEMPAssets/WeaponVFX/Missiles.meta
*.suo

build/
localisation/
StreamingAssets.meta

Assets/Plugins/Android/res/values/strings.xml
ScopelyPlatformPostProcess.txt
Assets/_ThrowAway_*
Assets/FtueCinematicLoadedResources.txt
Assets/FtueCinematicLoadedResources.txt.meta
Assets/Editor/ProjectSettings/PrimeBuildSettings.asset
Assets/Editor/ProjectSettings/PrimeBuildSettings.asset.meta

Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor/JetBrains/*
Assets/Plugins/Editor/JetBrains.meta
prime-client.sln.DotSettings.user

Assets/Plugins/Editor.meta

compiler_output.txt
